.Navbar__Link{
    padding-top:3.5rem;
&:not(.logo){
    border-bottom: 1px solid $color-grey-light-2;
    height:7rem;
}
}
@media only screen and (min-width: 720px) and (max-width: 1000px){
    .Navbar__Link{
        padding-right: 1rem;
        &:not(.logo){
            border: none;
        }
    }
}
@media only screen and (min-width: 1000px) {
    .Navbar__Link{
        padding-right: 3.5rem;
        &:not(.logo){
            border: none;
        }
    }
}
