@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin flexDirection($breakpoint) {
    @if $breakpoint == column {
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
    }
    @else if $breakpoint == row {
        display: flex;
            -ms-flex-direction: row;
                flex-direction: row;
    }
   
}

