@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin respond($breakpoint) {
    @if $breakpoint == mobile {
        @media only screen and (max-width: ) { @content };    //up to 750px
    }
    @if $breakpoint == desktop {
        @media only screen and (max-width: ) { @content };     //more then 750px
    }
   
}

