$color-primary: #55c57a;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: hsl(0, 0%, 48%);

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$margin-medium: 1.5rem;
