.container {
    max-width: 100vw;
    height: 271.9rem;
    position: relative;
}
.background__image{
  max-width: 100vw;
  height:auto;
}
@media screen and (min-width: 720px){
    .container {
    max-width: 144rem;
    height: 215.8rem;
    margin: 0 auto;
    }
  
}