.Navbar{
    z-index: 100;
}

.Navbar__Items,
.Navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#js-navbar-toggle {
    position: absolute;
    top: 3.5rem;
    right: 0rem;
    padding-right: 2.3rem;
}
.Navbar__Link{
    display: flex;
  justify-content: center;
}
.Navbar__Items{
    flex:1;
}
 .activeMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 8.8rem;
    left: 2.3rem;
    width: calc(100% - 46px);
    height: auto;
    background-color: $color-white;
    justify-content: center;
    z-index: 100;
    border-radius: 1rem;
}
.activePC{
    display:none;
}
.logo{
    position: absolute;
    left: 2.3rem;
    top:0;
}

.Navbar__Link-toggle {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: initial;
    cursor: pointer; 
}

@media only screen and (min-width: 720px) {
    .activeMobile{
        display: none;
    }

    .activePC{
         display: flex;
      }

    .Navbar { 
        position: absolute;
        top:0;
        left:0;
        height: auto;
        width: 100%;
        @include flexDirection(row);

       }
      
   

 .Navbar__Items  {
        display: -webkit-box;
        display: -ms-flexbox;
       @include flexDirection(row);
         flex: 0;
    }

 .Navbar__Link-toggle{
     display: none;
 }
   .Navbar__Items--right {
    @include flexDirection(row);
position: absolute;
top:0;
right: 2.3rem;
    }
    #js-navbar-toggle {
        display: none;
    }
   
}
@media only screen and (min-width: 1000px) {
    .logo{
        left: 16.6rem;
     }
    .Navbar__Items--right {
    right: 16.7rem;
    }
}